
footer.page-footer {
    padding-top: inherit;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* Twinkle stars in the background */
.stars, .twinkling, .bg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    z-index: -1;
}


.stars { /* the dots of the stars */
    background:#000 url(../img/stars.png) repeat top center;
}


.twinkling{ /* the twinkling pattern that goes on the dots creating the illusion */
    background:transparent url(../img/twinkling.png) repeat top center;
    animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back { /* the frames that moves from one position to another related to twinkling */
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.bg { /* if you want to put a background behind all of that you need to place it right here */
    background: url(../img/espace.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.6;
}

