{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/layout.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col s12 center-align">What will inspire you today?</h1>
    </div>
    {% block content %}
    {% endblock %}

{% endblock %}