{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/layout.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center">What will inspire you today?</h1>

    {% block content %}
    {% endblock %}

{% endblock %}