<footer class="page-footer N/A transparent">
    <div class="footer-copyright">
        <div class="container">
            © 2016 Chris Cross
            <a href="#" class="deep-purple-text accent-4 right" >About</a>
        </div>
    </div>
</footer>
