<footer class="page-footer N/A transparent">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col l6 s6">
                    © 2016 Chris Cross
                </div>
                <div class="col l6 s6">
                    <a href="#" class="about right">About</a>
                </div>
            </div>
        </div>
    </div>
</footer>
