<header>
    <div class="row">
        <h1 class="offset-s1 col s10 center">
            What will inspire you today ?
        </h1>
        <div id="icons" class="col s1 right-align">
            <ul>
                <li>
                    <a href="https://twitter.com/sushi4000" target="_blank" class="small material-icons social-media socicon-twitter"></a>
                </li>
                <li>
                    <a href="https://github.com/christianJCK" target="_blank" class="small material-icons social-media socicon-github"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/christianjecko" target="_blank" class="small material-icons social-media socicon-linkedin"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/christianjecko" target="_blank" class="small material-icons social-media socicon-deviantart"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/christianjecko" target="_blank" class="small material-icons social-media socicon-spotify"></a>
                </li>
            </ul>
        </div>
    </div>
</header>