<header>
    <div class="row">
        <h1 class="offset-s1 col s10 center">
            What will inspire you today ?
        </h1>
        <div id="icons" class="col s1 right-align">
            <ul>
                <li>
                    <a href="https://twitter.com/sushi4000" target="_blank"><i class="small socicon-twitter" title="My twitter"></i></a>
                </li>
                <li>
                    <a href="https://github.com/christianJCK" target="_blank"><i class="small socicon-github" title="All my coding world on GitHub"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/christianjecko" target="_blank"><i class="small socicon-linkedin" title="My LinkedIn"></i></a>
                </li>
                <li>
                    <a href="http://punknower.deviantart.com/" target="_blank"><i class="small socicon-deviantart" title="One of my passion, Art"></i></a>
                </li>
            </ul>
        </div>
    </div>
</header>